<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="placeholder" class="img-responsive" width="30%">

    </div>
</div>
<div class="row">
    <!--col-xs-12 means collumn spaning the whole width-->
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <div class="btn-group" appDropdown>
           <!--Dropdown button-->
           <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>

              <!--Dropdown menu-->
              <ul class="dropdown-menu">
                  <li><a href="#" (click)="toShoppingList()">To Shopping List </a></li>
                    <li><a href="#">Edit Recipe</a></li>
                    <li><a href="#">Delete Recipe</a></li>
              </ul>
       </div>
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{recipe.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Ingredients
        </div>
    </div>

