<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" id="amount" placeholder="Amount" #amountInput>
                </div> 
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="addToList()">Add</button>
                    <button type="button" class="btn btn-danger" style="margin-right: 10px;">Delete</button>
                    <button type="button" class="btn btn-warning" style="margin-right: 10px;">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>